<header role="banner">
  <!--<h1 class="logo">{{ site.title }}</h1>-->
  <nav role="navigation">
		<ul style="padding-top: 2rem; vertical-align: middle;">
			<li>
				<img src="{{ site.baseurl }}/assets/512-icon.png" alt="Logo" style="width: 2rem; height: 2rem; ">
			</li>
			{% for item in site.data.navigation.links %}
				<li>
					<a href="{{ item.url }}" 
						{% if item.url == page.url %} 
							class="active"
						{% elsif item.url == "/" and page.url == "/index" %}
							class="active"
						{% endif %}
					>
						{{ item.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>